@import '../../../../styles//variables.scss';

.movie_detail {

  position: relative;

  .movie_poster {
    position: absolute;  
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
}

.movie-content {
  position: relative;
  margin: 0;
  font-family: 'Lato', sans-serif;
  
  .title {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;

    h1 {
      font-family: cursive;
      font-weight: bold;
      font-size: 2.5em;
    }
  }

  .genres {
    margin-top: 0.5em;

    h1 {
      font-family: cursive;
    }
    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }   
  }

  .stars {
    margin-top: 0.5em;

    h1 {
      font-family: cursive;
    }
  }
  .revenue {
    margin-top: 0.5em;

    h1 {
      font-family: cursive;
    }
  }

  .runtime {
    margin-top: 0.5em;

    h1 {
      font-family: cursive;
    }
  }

  .movie_description {
    margin-top: 0.5em;

    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }  ;    
  }

  .actors {
    margin-top: 0.5em;

    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }
  }

  .production {
    margin-top: 0.5em;

    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }
  }

  .directors {
    margin-top: 0.5em;

    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }
  }

  .mpaa {
    margin-top: 0.5em;

    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }
  }

  .year {
    margin-top: 0.5em;

    span {
      margin-left: 0.2em;
      font-size: 1.5em;
      font-weight: bold;
      font-style: inherit;
      color: white;
    }
  }

  h1 {
    font-family: cursive;
    display: inline;
    font-weight: bold;
    color: #ffc107
  }

  .main {
    padding: 1em;
    background-color: map-get($colors, text-on-dark);
  }

  .specs {
    text-align: center;
    background-color: darken(map-get($colors, dark) , 5%);
    color: map-get($colors, text-on-dark);

    .star-rating .star {
      cursor: pointer !important;
    }

    .rating {
      background-color: lighten(map-get($colors, dark), 10%);
      border-bottom: 1px solid lighten(map-get($colors, dark), 25%);
      margin-bottom: 1.5em;

      &.current-rating {
        color: map-get($colors, light-tint);
        padding-bottom: .5em;

        .rating-avg {
          display: block;
          padding: .5em;
          padding-bottom: 0;
          color: map-get($colors, text-on-dark);
          font-size: 1.3em;
        }
      }

      &.no-votes {
        padding: 1em;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    ul {
      list-style: none;
      padding: 1em;
      margin: 0;

      li {
        text-align: left;
        margin-bottom: .5em;

        h3 {
          margin: 0;
        }
      }
    }

    a {
      display: inline-block;
      padding: .25em;
      border: 1px solid rgba(map-get($colors, text-on-dark), .47);
      border-radius: 5px;
      color: map-get($colors, text-on-dark);
      text-decoration: none;
      margin-bottom: 1em;

      &:hover {
        background-color: map-get($colors, text-on-dark);
        color: map-get($colors, dark);
      }
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #43423E;
}

a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

.comments {
  height: 500px;
  position: relative;
}
.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}