<div fxLayout="row" fxLayoutAlign="center" class="home-wrap">
  <div fxFlex="90" fxFlex.gt-sm="40" fxFlex.gt-md="30">
    <div fxLayout="row" class="wrap">
      <div fxFlex="100">
        <div class="login_logo"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100" class="cont">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
          <div *ngIf="loginForm.errors" class="alert error">
            <ul>
              <li *ngFor="let error of (loginForm.errors)">
                {{ error }}
              </li>
            </ul>
          </div>
          <mat-form-field class="fw block">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="fw block">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="50">
              <button mat-raised-button type="submit" [disabled]="!loginForm.valid || loginForm.pending">
                <i *ngIf="loginForm.pending" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                Login
              </button>
              <div *ngIf="error" class="alert alert-danger error_message">{{error}}</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>