
<div class="p-grid">
    <div class="p-col-8 p-md-8, p-sm-8" style="background-color: black;"></div>
    <div class="p-col-4 p-md-4 p-sm-4" style="padding: 0px">
        <p-menubar [model]="menuItems" [style]="menuStyle">
            <input type="text" pInputText placeholder="Search">
            <button pButton label="Logout" icon="pi pi-power-off"></button>
        </p-menubar>
    </div>
</div>
<div class="p-grid" style="background-color: aqua;">
    <div class="p-col-8">
        <div class="p-grid">
            <div class="p-col-4" style="background-color: brown;"></div>
            <div class="p-col-4" style="background-color: yellow;"></div>
            <div class="p-col-4" style="background-color: coral;"></div>
        </div>
    </div>
    <div class="p-col-4" style="background-color: darkmagenta;"></div>
</div>